<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <img src="../../assets/icon/logoSanMartin.png" style="margin-left: auto"/> 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
   
  <ion-slides pager="true" [options]="slideOptsOne" >
    <ion-slide *ngFor="let item of featured">
        <div class="container">
            <ion-img src="{{item.picture}}"></ion-img>
        </div>
    </ion-slide>
  </ion-slides>
   <!-- Aca deberia de ir el buscador de Google -->

  <app-home-detalle></app-home-detalle>

</ion-content>
